.footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;           

  padding: 0 20px;               
  height: 100%;                  
  
  background-color: #f8fafc;     
  border-top: 1px solid #e2e8f0; 
  color: #64748b;               
  font-size: 0.85rem;           
}