.container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header {
  grid-area: header;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #f4f4f4;
  padding: 15px;
}

.main {
  grid-area: main;
  padding: 15px;
}

.footer {
  grid-area: footer;
  background-color: #ddd;
  text-align: center;
  padding: 10px;
}